body {
    margin: 0;
    font-family: sans-serif;
}
canvas#tannenbaum {
    width: 100%;
    height: 100vh;
    background: rgb(9,76,114);
    background: linear-gradient(180deg, rgb(1,41,63) 0%, rgb(9,76,114) 100%);
}
#sidebar {
    position: fixed;
    right: 0;
    top: 20%;
    height: 40vh;
    width: 250px;
    background-color: white;
    z-index: 1000;
    padding: 32px;
    box-shadow: -9px 0px 32px -17px rgba(0,0,0,0.75);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
}
#sidebar h1 {
    font-size: 28px;
}
#sidebar button {
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
#sidebar button#generate {
    height: 40px;
    background-color: #238268;
    color: white;
    border-color: #2f7662;
    font-size: 28px;
}
#sidebar #downloads {
    display: flex;
    justify-content: space-around;
}
#sidebar #downloads button {
    margin-top: 8px;
    background-color: #82233C;
    color: white;
    border-color: #8e1737;
    font-size: 16px;
    height: 30px;
}
