body {
    margin: 0;
    font-family: sans-serif;
}
canvas#tannenbaum {
    width: 100%;
    height: 100vh;
    background: rgb(9,76,114);
    background: linear-gradient(180deg, rgb(1,41,63) 0%, rgb(9,76,114) 100%);
}
#sidebar {
    position: fixed;
    right: 0;
    top: 20%;
    height: 40vh;
    width: 250px;
    background-color: white;
    z-index: 1000;
    padding: 32px;
    box-shadow: -9px 0px 32px -17px rgba(0,0,0,0.75);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
}
#sidebar h1 {
    font-size: 28px;
}
#sidebar button {
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
#sidebar #actions {
    display: flex;
}
#sidebar #actions button {
    height: 40px;
    color: white;
    font-size: 28px;
    width: 50%;
}
#sidebar button#reset {
    background-color: #82233C;
    border-color: #8e1737;
    margin-right: 8px;
}
#sidebar button#add {
    background-color: #238268;
    border-color: #2f7662;
    margin-left: 8px;
}
#sidebar #downloads {
    display: flex;
    justify-content: left;
}
#sidebar #downloads > * {
    margin-right: 16px;
}
#sidebar #downloads button {
    margin-top: 8px;
    background-color: #08496e;
    color: white;
    border-color: #012940;
    font-size: 16px;
    height: 30px;
}
#sidebar #options {
    margin-bottom: 16px;
}
#sidebar #options div {
    position: relative;
    display: block;
}

#sidebar #ebenen {
    display: flex;
    padding-bottom: 16px;
    margin-bottom: 16px;
    justify-content: left;
    align-items: baseline;
    min-height: 60px;
}
#sidebar #ebenen > * {
    margin-right: 8px
}
#sidebar #ebenen input {
    width: 20px;
    min-height: 30px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

/* CHECKBOX STYLING */
input[type=checkbox] + label {
    cursor: pointer;
    display: inherit !important;
    position: relative;
    padding-left: 35px;
    padding-bottom: 6px;
    padding-top: 6px;
}
input[type=checkbox] + label::before, input[type=checkbox]::after {
    content: " " !important;
    position: absolute;
    display: inline-block;
}
input[type=checkbox] + label::before {
    left: 0;
    width: 24px;
    height: 24px;
    background: white;
    box-shadow: 0 0 1px #777;
}
input[type=checkbox] + label::after {
    top: 6px;
    left: 4px;
    width: 16px;
    height: 16px;
    margin: 4px 0px 0;
    opacity: 0;
    background: #238268;
}
input[type=checkbox] {
    position: absolute;
    left: 0;
    opacity: 0;
}
input[type=checkbox]:checked + label::after {
    opacity: 1;
    position: absolute;
    content: " ";
}

@media(max-width: 700px) {
    #sidebar {
        width: 100%;
        top: unset;
        right: unset;
        bottom: 0;
        height: auto;
        padding: 12px;
        border-top-left-radius: 0;
    }
    #sidebar h1 {
        font-size: 26px;
        margin: 4px;
    }
    #sidebar #options {
        display: flex;
        flex-wrap: wrap;
    }
    #sidebar #options > div {
        padding-right: 12px;
    }
    #sidebar #ebenen {
        min-height: auto;
        padding-bottom: auto;
    }
    #sidebar #downloads {
        position: fixed;
        right: 24px;
        bottom: 86px;
    }
    #sidebar #actions button#add {
        display: none;
    }
    #sidebar #actions button#reset {
        background-color: #238268;
        border-color: #2f7662;
        flex-grow: 1;
        margin-right: 24px;
    }
}
